<div class="form-row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">

                        <select name="EventosGrid" id="EventosGrid" onchange="hideColumn(this.value)" class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Buscar" data-actions-box="false">
                            <optgroup label="Esconder ou Mostrar Colunas">
                                <option value="2">Status do Faturamento</option>
                                <option value="3">Tipo de Cliente</option>
                                <option value="4">Vencimento</option>
                                <option value="5">CPF/CNPJ</option>
                                <option value="6">Razão Social</option>
                                <option value="7">Data Instalação/Cancelamento</option>
                                <option value="8">Valor total (RCs)</option>
                                <option value="9">RCs</option>
                                <option value="10">Produto</option>
                                <option value="11">Plano</option>
                                <option value="12">Renovação Automatica</option>
                                <option value="13">Cidade</option>
                                <option value="14">UF</option>
                                <option value="15">% Aplicada</option>
                                <option value="16">Valor Mensalidade</option>
                                <option value="17">Desconto</option>
                                <option value="18">valor Mensalidade Calculado</option>
                                <option value="29">Exibir Contrato</option>
                            </optgroup>
                        </select>
                    </div>

                </form>

            </div>

        </div>
    </nav>

</div>
